body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
   background-color: aqua;
}



#myForm {
    background-color: rgb(255, 255, 255);
    width: 360px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.intro-text {
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
    text-align: center;
}

#myForm label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}




#myForm input:focus {
    outline: none;
    border-color: #4caf50;
}

#myForm input[type="submit"] {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


