.profile-container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}


.intehyrd {
    background-color: lightgreen; 
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    font-weight: bold;
}


.hyrd {
    background-color: rgb(245, 0, 0); 
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    font-weight: bold;
}